<style>
 #line {
   display: inline-block;
 }
</style>

<div align="right"><%= link_to "New slideshow", new_user_slideshow_path, :class => "btn btn-default btn-lg" %></div>
<br />
<div align="center">
  <h3><%= "There isn't any slideshows here ¯\\_(ツ)_/¯" if @slideshows.empty? %> </h3>
  <% @slideshows.each do |slideshow| %>
    <div class="jumbotron" id='slidehow' style='background-color:#ccc'>
      <a id="line" style='text-decoration: none'href="<%= "/users/#{@user.id}/slideshows/#{slideshow.id}"%>" >
	<% slideshow[:imgs].split(";").each do |image_id| %>
	  <%= cl_image_tag image_id, :height => 100, :crop => :thumb, :class => "img img-thumbnail", :id => "slides" %>
	<% end %>
      </a>
      <div id="line"><%= link_to "Delete".html_safe, "/users/#{@user.id}/slideshows/#{slideshow.id}", {:method => :delete, :class => "btn btn-default btn-sm"} %> </div>
    </div>
    <br />
  <% end %>
</div>
