<style>
 #user-images, #slideshow-images {
   list-style-type: none;
   min-height: 80px;
   min-width: 80px;
   border: 1px solid #ccc;
 }
 
 #user-images li, #slideshow-images li{
   vertical-align: top;
   display:inline-block;
 }
 
 .img-thumbnail {
   height: 80px;
 }

</style>

<div>
  <ul id="user-images" class="connectedSortable" style="background-color=#000" >
    <% @user.uploads.all.each do |image|%>
      <li>  <%= cl_image_tag image["public_id"], :id => image["public_id"], :class => "img img-thumbnail", :height => 80 %> </li>
    <% end %>
    <%= " <div align='center'><h2>There isn't any photos here ¯\\_(ツ)_/¯></h2></div>" if @user.uploads.all.empty? %>
  </ul>
  <h3>      Drag photos below</h3>
  <ul id="slideshow-images" class="connectedSortable">
    <!-- <li>Drag photos here</li> -->
  </ul>
  
  <button id="okButton" class="btn btn-default btn-lg">Save</button>

</div>

<script type='text/javascript'>
 $( "#user-images, #slideshow-images" ).sortable({
   connectWith: ".connectedSortable"
 }).disableSelection();
 $("#okButton").bind("click", function () {
   var items = $("#slideshow-images li img");
   var result = "";
   for (var i = 0; i < items.length; i++) {
     result += items.get(i).id + ";";
   }
   var url = "/users/<%= @user.id %>/slideshows/create";
   var indexes = {'slides': result};
   $.ajax({
     type: "POST",
     url: url,
     dataType: 'json',
     data: indexes
   });    
 })
</script>
