<ul class="bxslider">
  <% @images_publ_ids.each do |image| %>
    <li>
      <%= cl_image_tag image, :height => 600, :width => 1100, :crop => :pad %>
    </li>
  <% end %>
</ul>



<script type='text/javascript'>
 $('.bxslider').bxSlider({
   auto: true,
   autoControls: true
 });
</script>

