<div align="center" class="jumbotron text-center">
  <h1>PhotoScope</h1></br>
    <div class="">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, :class=>"form-control input-lg", :placeholder=>"Email"%>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" , :class => "btn btn-default btn-lg"%>
        </div>

      <% end %>

      <!--<form action="/media-upload" class="dropzone">-->
      <!--<div class="fallback">-->
      <!--<input name="file" type="file" />-->
      <!--</div>-->
      <!--</form>-->
      <%= render "users/shared/links" %>
    </div>
</div>
