

<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

<% @user.uploads.all.each do |image|%>
  <a onclick="return launchEditor('<%=image["public_id"]%>', '<%= "http://res.cloudinary.com/alex-pat-test-cloud/image/upload/v1469210070/#{image["public_id"]}.png"%>');"><%= cl_image_tag image["public_id"], :id => image["public_id"], :height => 200, :crop => :thumb, :class => "img img-thumbnail" %></a>
<% end %>
<div align="center"><h2><%= "There isn't any photos here ¯\\_(ツ)_/¯" if @user.uploads.all.empty? %></h2></div>



<!— Instantiate Feather —>
<script type='text/javascript'>
 var featherEditor = new Aviary.Feather({
   apiKey: '0728ddae97b84c04bcd6adf4ef7fd5dc',
   apiVersion: 3,
   theme: 'light', // Check out our new 'light' and 'dark' themes!
   tools: 'all',
   fileFormat: 'png',
   appendTo: '',
   onSave: function(imageID, newURL) {
     var img = document.getElementById(imageID);
     img.src = newURL;

     var url = '/users/<%= @user.id %>/uploads/update';
     var sendable = {'public_id': imageID, 'new_url': newURL};
     $.ajax({
       type: "POST",
       url: url,
       dataType: 'json',
       data: sendable
     });
   },
   onError: function(errorObj) {
     alert(errorObj.message);
   }
 });
 function launchEditor(id, src) {
   featherEditor.launch({
     image: id,
     url: src
   });
   return false;
 }
</script>

