/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require_tree .
 *= require dropzone/dropzone
 *= require jquery-ui			
 */
@import 'bootstrap';
@import "bootstrap-sprockets";
@import 'alertify.core';
@import 'alertify.default';

.form-control{
    margin: 0 auto;
    width: 45% /* value of your choice which suits your alignment */
}

.ul{
    display: inline;
}