// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-thumbnail{
    cursor:pointer;
    height: 200px;
}

#slides {
    height: 100px;
}