<!DOCTYPE html>
<html>
  <head>
    <title>PhotoScope</title>
    <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;">
    <% if user_signed_in? %>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button
		type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
	    <%= link_to "PhotoScope", "/users/#{params.has_key?(:user_id) ? params[:user_id] : params[:id]}", :class => "navbar-brand" %> 
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#" data-toggle="modal" data-target="#editImageModal">Upload New</a></li>
              <li><%= link_to "Slideshows", "/users/#{params.has_key?(:user_id) ? params[:user_id] : params[:id]}/slideshows" %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a><%= current_user.email %></a></li>
              <li><%= link_to "Logout", destroy_user_session_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
        
      </nav>
    <% end %>
    <div class="container">
      <div class="jumbotron">
	<%= yield %>
      </div>
    </div>
  </body>
  
  <div class="modal fade" id="editImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload New</h4>
        </div>
        <div class="modal-body">
	  <% if user_signed_in? %>
            <%= form_for([@user, @user.uploads.build], html: { multipart: true, class: "dropzone", id: 'media-dropzone'}) do |f|  %>
	      <div class="fallback">
		<%= f.file_field :image %><br>
		<%= f.submit "Upload" %>
	      </div>
	    <% end %>
	  <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</html>

