<div align="center" class="jumbotron text-center">
  <h2>Sign Up</h2></br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Password  (#{@minimum_password_length} characters minimum)" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Confirm password" %>
    </div>

    <div class="actions">
      <%= f.submit "Confirm", :class => "btn btn-default btn-lg" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
